@model IEnumerable<DND_App.Web.Models.Domain.CharacterRace>

@{
}

<div class="bg-secondary bg-opacity-10 py-5">
    <div class="container">
        <h1>Races</h1>
    </div>
</div>
<div class="container">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Strength Bonus</th>
                    <th>Dexterity Bonus</th>
                    <th>Constitution Bonus</th>
                    <th>Intelligence Bonus</th>
                    <th>Wisdom Bonus</th>
                    <th>Charisma Bonus</th>
                    <th>Abilities</th>
                    <th>Weapon Proficiencies</th>
                    <th>Tool Proficiencies</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var race in Model)
                {
                    <tr>
                        <td>@race.Id</td>
                        <td>@race.Name</td>
                        <td>@race.StrengthBonus</td>
                        <td>@race.DexterityBonus</td>
                        <td>@race.ConstitutionBonus</td>
                        <td>@race.IntelligenceBonus</td>
                        <td>@race.WisdomBonus</td>
                        <td>@race.CharismaBonus</td>
                        <td>
                            @if (race.RaceAbilities != null && race.RaceAbilities.Any())
                            {
                                <ul>
                                    @foreach (var ability in race.RaceAbilities)
                                    {
                                        <li>@ability.Name</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p class="text-muted">No ability</p>
                            }
                        </td>
                        <td>
                            @if (race.RaceWeaponProficiencies != null && race.RaceWeaponProficiencies.Any())
                            {
                                <ul>
                                    @foreach (var wp in race.RaceWeaponProficiencies)
                                    {
                                        <li>@wp.Name</li>
                                    }
                                </ul>
                            }
                            else
                            {
                                <p class="text-muted">No weapon proficiency</p>
                            }
                        </td>
                        <td>
                            @if (race.RaceToolProficiencies != null && race.RaceToolProficiencies.Any())
                            {
                                <ul>
                                    @foreach (var tp in race.RaceToolProficiencies)
                                    {
                                        <li>@tp.Name</li>
                                    }
                                </ul>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-muted">No races available</p>
    }
</div>


