@model DND_App.Web.Models.Domain.Character

<h1>@Model.CharacterName</h1>
<p>Played by: @Model.PlayerName</p>
<p>Race: @Model.CharacterRace.Name</p>
<p>Class: @Model.CharacterClass.Name</p>
<p>Strength: @Model.Strength</p>
<p>Dexterity: @Model.Dexterity</p>
<p>Constitution: @Model.Constitution</p>
<p>Intelligence: @Model.Intelligence</p>
<p>Wisdom: @Model.Wisdom</p>
<p>Charisma: @Model.Charisma</p>
<p>Level: @Model.Level</p>
<p>Experience Points: @Model.ExperiencePoints</p>
<p>Passive Wisdom: @Model.PassiveWisdom</p>
<p>Inspiration: @Model.Inspiration</p>
<p>Proficiency Bonus: @Model.ProficiencyBonus</p>
<p>Armor Class: @Model.ArmorClass</p>
<p>Speed: @Model.Speed</p>

